body{
    background-color: #00457E;
    color: #212121;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main{
    background-color: #02315E;
    padding: 20px 40px 0px 40px;
    border: solid white 1px;
    border-radius: 10px;
    color: #F1BAA1;
    font-family: 'Quicksand', sans-serif;
}

div div{
    display: flex;
    align-items: center;
    flex-direction: row;
}

p{
    padding-left: 10px;
}

.escribir{
    margin-left: 70px;
    background-color: #2F70AF;
}

::placeholder{
    color: Blue
}

input[type="text"] {
    color: white; 
}

h1{
    color: #d1ceed;
}


